# Removing all build related folders and files
.catkin_tools
.vscode
build
devel/**

# Removing logs
logs

# Exception for the setup_env.bash file
!devel/setup_env.bash

# Removing the turtlebot3_autorace_2020 package since it can be cloned from the official repository
src/turtlebot3_autorace_2020

# Removing the residual pdf files by tf2 and other packages
*.pdf
*.gv