<launch>
    <rosparam file="$(find formation_simulation)/config/formation_params.yaml"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include> 

   
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <node pkg="formation_simulation" type="formation_simulation_init" name="simulation_initializer_node"/>
    
    <!-- Starting the Motion Planner Node. -->
    <node pkg="formation_simulation" type="test_motion_planner" name="test_motion_planner_node"/>

    <arg name="rvizconfig" default="$(find formation_simulation)/config/rviz_config.rviz" />
    <!-- Calling RViz to visualize the robots with its predefined config file. -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- Calling the Joint State Publisher to publish the joint states of all the robots. -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>